* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
    display: block;
}

/* figure > img {
    display: block;
} */


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* palette colori */

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --dark-grey: #333333;
    --light: #FFFFFF;

}

/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */

}

.col-2 {
    flex-basis: calc((100% / 12) * 6);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

[class^="col"] {
    padding: 0 12px;
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.centered-content {
    text-align: center;
}

.letter-spacing {
    letter-spacing: 3px;
}

.white-text {
    color: white;
}

.italic-text {
    font-style: italic;
}

.flex {
    display: flex;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

.vertical-align {
    display: flex;
    align-items: center;
}



/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* aggiungi classe button e purple-btn ai bottoni purple */

.purple-btn {
    padding: 0 18px;
    background-color: var(--purple);
    color: white;
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.blue-btn {
    background-color: var(--blue);
    color: var(--light);
    padding: 0 45px;
    word-spacing: 2px;
    margin-top: 40px;
}

.purple-title {
    color: var(--purple);
}

.white-title {
    color: var(--light);
}

.blue-title {
    color: var(--blue);
}




/* header */
.page-header {
    background-color: var(--blue);
    padding: 18px 0;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

.navbar-logo .logo {
    display: block;
}

.navbar__list-items {
    font-size: 17px;
    font-weight: 300;
    color: var(--light)
}

.hamburger-menu {
    font-size: 30px;
    color: var(--light);
}

/* hero */

.card {
    background-color: var(--light-blue);
    border-radius: 30px;
    display: flex;
    height: 100%;
}

.card-content {
    padding: 30px 25px;

}

.card-content-title {

    font-size: 22px;
    padding-bottom: 35px;
    font-weight: 700;
}

.card-content-text,
.cite-text,
.testimonial-name,
.title-sm {
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}

.card-content>i {
    font-size: 60px;
    color: var(--blue);
    padding-bottom: 30px;
}

.blue-btn>i {
    padding-right: 10px;
}

.card-phone-img {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 85%;
}

.hero .col-4,
.col-8 {
    margin-bottom: 24px;
}

.hero {
    padding: 50px 0 76px 0;
}

/* section - strategic-planning */

.strategic-planning {
    background-color: var(--purple);
    padding-top: 70px;
    padding-bottom: 65px;
}

.strategic-planning-title {
    font-size: 32px;
    padding-bottom: 65px;
    padding-top: 65px;
    font-weight: 700;
}

.white-card {
    background-color: var(--light);
    border-radius: 30px;
    margin-bottom: 24px;
    
}

.card-title-black {
    color: black;
    padding-top: 15px;
}

.arrow-purple-backgound {
    background-color: var(--purple);
    display: inline-block;
    width: 40px;
    border-radius: 50%;
    margin-top: 35px;

}

.arrow-purple-backgound>i {
    line-height: 40px;
}

/* Section Testimonial */

.purple-card {
    background-color: var(--purple);
    padding-top: 35px;
    padding-bottom: 45px;
    border-radius: 30px;
    display: flex;
    margin-top: 24px;
}

.testimonial-photo {
    width: 200px;
    aspect-ratio: 1/1;
    /* width: 100%; */
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.testimonial-cite {
    display: flex;
    align-items: center;
}

.cite-text {
    padding-right: 45px;
}

.testimonial-name {
    font-weight: 500;
    padding-top: 30px;
}

.section-title {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 35px;
}

.testimonial-section-header {
    padding-top: 55px;
    padding-bottom: 30px;
}

.testimonial-section {
    padding-bottom: 110px;
}

/* Benefits -Section */

.benefits-section {
    background-color: var(--purple);
}

.title-lg {
    font-size: 60px;
}

















/* debug */

.debug .container,
.debug .container-medium,
.debug .container-small {
    border: 2px solid red;
    padding: 10px;
}

.debug .row {
    border: 2px solid greenyellow;
    padding: 10px;
}

.debug [class^="col"] {
    border: 2px solid black;
    padding: 10px;
}



/* Responsive */

/* xl desktop */
@media (min-width: 1200px) {
    .hamburger-menu {
        display: none;
    }
}



/* desktop */
@media (max-width: 1199.98px) {

    .hamburger-menu {
        display: none;
    }


    .white-card {
        background-color: var(--light);
        height: min-content;
    
    }


}



/* tablet */
@media (max-width: 991.98px) {

    section,
    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar__list-items {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .card {
        background-color: var(--light-blue);
        border-radius: 30px;
        height: 100%;
        display: block;
    }

    .white-card {
        background-color: var(--light);
        height: min-content;
    
    }

    .col-6 {
        flex-basis: 100%;
    }

}


/* tablet - mobile landscape */
@media (max-width: 767.98px) {

    .navbar__list-items {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .col-6 {
        flex-basis: 100%;
    }

}



/* mobile */
@media (max-width: 575.98px) {

    .navbar__list-items {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .card-phone-img {
        margin: 0 auto;
    }

    .col-4,
    .col-8 {
        flex-basis: 100%;
    }

    .col-6 {
        flex-basis: 100%;
    }

    .purple-card {
        flex-direction: column;
        text-align: center;
    }

    .figure-testimonial {
        display: inline-block;
    }

    .cite-text {
        padding-right: 0;
    }

    .section-title {
        font-size: 32px;
    }

}